<div class="container-fluid">
  <app-header></app-header>
  <div class="py-2">
    <router-outlet></router-outlet>
  </div>

  <!-- <div class="card justify-content-center">
    <div class="card-header text-center h1 font-wieght-bold">Management Dashboard
      <button class="btn btn-primary btn-sm float-right">Create Department</button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header text-center  font-wieght-bold">Department 1
              <button class="btn btn-primary btn-sm float-right">Add Manager</button>
            </div>
            <div class="card-body">
              <div class="card">
                <div class="card-header text-center  font-wieght-bold">Manager
                  <button class="btn btn-primary btn-sm float-right">Add Manager</button>
                </div>
                <div class="card-body">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header text-center  font-wieght-bold">Department 1
              <button class="btn btn-primary btn-sm float-right">Add Manager</button>
            </div>
            <div class="card-body">
              <div class="card">
                <div class="card-header text-center  font-wieght-bold">Manager
                  <button class="btn btn-primary btn-sm float-right ">Add Manager</button>
                </div>
                <div class="card-body">
                  <table class="table table-hover table-stripped table-sm">
                    <thead>
                      <tr>
                        <th>Team</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Developer</td>
                        <td>2</td>
                        <td>1000</td>
                      </tr>
                      <tr>
                        <td>Developer</td>
                        <td>2</td>
                        <td>1000</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="2">Sum</td>
                        <td>$180</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>